@import "tailwindcss";

:root {
  --background: #101014;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.godrays {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: 0 0;
  animation: godrays 10s linear infinite;
}

@keyframes godrays {
  0% {
    background-position: -100% -100%;
  }
}
.content {
  background-image: url("/pattern.png");
}